/*
* @Author: Tony
* @Date:   2016-10-18 14:11:10
* @Last Modified by:   voyage
* @Last Modified time: 2017-11-29 11:27:00
*/
 /* css reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#F5F5F5; color:#555; font-size:14px; font-family: Microsoft YaHei, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
i{font-style: normal;}
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
input[type=text],input[type=password]{ box-shadow: 0 0 0 50px #fff inset;outline: 0px;}
table { border-collapse:collapse; }
html {overflow-y: scroll;}
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
button{cursor: pointer;}

.index-container{
	width: 1250px;
	margin: 0 auto;
	background: #fff;
}
.index-left{
	width: 478px;
	float: left;
	padding-left: 30px;
}
.index-left .logo{
	display: block;
	margin: 19px 0 0 0;
}
.index-left>h1{
	font-size: 28px;
	color: #FF9F19;
	margin-top: 25px;
	height: 30px;
	line-height: 30px;
}
.index-left>h3{
	line-height: 30px;
	font-size: 18px;
	margin-top: 18px;
	color: #222;
}
.index-left .d-btn{
	height: 35px;
	margin-top: 10px;
	position: relative;
}
.index-left .d-btn .btn1{
	height: 35px;
	width: 107px;
	background: #FF9F19;
	color: #fff;
	transition: all .3s;
	border: 1px solid #FF9F19;
	font-size: 14px;
	float: left;
}
.index-left .d-btn .btn2{
	height: 33px;
	width: 107px;
	background: #FFf;
	color: #FF9F19;
	transition: all .3s;
	border: 1px solid #FF9F19;
	font-size: 14px;
	float: left;
	margin-left: 7px;
}
.index-left .d-btn .btn1:hover{
	box-shadow: 0 0 5px #fff inset;
}
.index-left .d-btn .btn2:hover{
	box-shadow: 0 0 5px #FF9F19 inset;
}
.index-focus{
	margin-top: 45px;
	height: 305px;
	position: relative;
	overflow: hidden;
}
.index-focus .jian-index{
	position: absolute;
	bottom: 0;
	left:0;
	width: 492px;
	height: 40px;
	background: url("/static/images/newIndex/jian4.png") no-repeat;
	z-index: 3;
}
.ul-index-n li .p1{
	float: left;
	width: 60px;
	font-size: 12px;
	line-height: 18px;
	margin-top: 7px;
}
.ul-index-n li{
	padding-bottom: 20px;
	position: relative;
}
.ul-index-n li .p1 .em1{
	float: left;
	width: 73px;
	color: #111;
	text-align: right;
}
.ul-index-n li .p1 .em2{
	float: left;
	width: 73px;
	color: #999;
	text-align: right;
}
.ul-index-n li >img{
	position: absolute;
	top: 0;
	left: 77px;
	z-index: 2;
}
.ul-index-n li .p2{
	float: right;
	width: 319px;
	border-radius: 6px;
	background: #eee;
	border: 1px solid #DCDCDC;
	padding: 7px 10px;
	position: relative;
	max-height: 95px;
	overflow: hidden;
	min-height: 30px;
}
.spa-train{
	position: absolute;
	top: 17px;
	left: 129px;
	width: 9px;
	height: 11px;
	background: url('/static/images/newIndex/img_train_index_focus.png') no-repeat;
	z-index: 1;
}
.ul-index-n li .p2 .spa-notice{
	display: inline-block;
	max-height: 48px;
	line-height: 16px;
	overflow: hidden;
}
.ul-index-n li .p2 .spa-active .sp1{
	display: block;
	font-weight: bold;
	margin-bottom: 3px;
}
.ul-index-n li .p2 .spa-active .sp2{
	display: inline-block;/*
	height: 32px;*/
	line-height: 16px;
	overflow: hidden;
	max-height: 48px;
}
.ul-index-n li .p2 .spa-active .sp3{
	display: block;
	line-height: 20px;
	overflow: hidden;
	height: 20px;
	/*color: #3F8ACB;*/
	/*cursor: pointer;*/
}
.ul-index-n li .p2 .spa-active .sp3 img{
	float: left;
	margin: 3px 3px 0 0;
}
.ul-index-n li .p2 .spa-active .sp4{
	display: inline-block;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}
.p-red{
	height: 100%;
	position: absolute;
	top: 0;
	left: 100px;
	width: 1px;
	background: #EAEAEA;
	z-index: 1;
}/*
.p-yel{
	height: 100%;
	position: absolute;
	top: 0;
	left: 83px;
	width: 1px;
	background: #FFA801;
	z-index: 1;
}
.p-gre{
	height: 100%;
	position: absolute;
	top: 0;
	left: 83px;
	width: 1px;
	background: #23CD77;
	z-index: 1;
}
.p-blue{
	height: 100%;
	position: absolute;
	top: 0;
	left: 83px;
	width: 1px;
	background: #42ABED;
	z-index: 1;
}
.p-pur{
	height: 100%;
	position: absolute;
	top: 0;
	left: 83px;
	width: 1px;
	background: #786FF6;
	z-index: 1;
}
.p-cofe{
	height: 100%;
	position: absolute;
	top: 0;
	left: 83px;
	width: 1px;
	background: #B8856C;
	z-index: 1;
}*/
.ul-index-n li .p2 .spa-share>img{
	max-height: 95px;
	float: left;
	margin-right: 12px;
}
.ul-index-n li .p2 .spa-share>span{
	font-weight: bold;
	margin-bottom: 3px;
	display: inline-block;
}
.index-left .ora-ban{
	display: block;
	margin: 25px 0 0 37px;
}
.index-right{
	width: 718px;
	float: right;
}
.login-mk{
	height: 64px;
	padding-right: 60px;
}
.login-mk .wx-l{
	background: url('/static/images/newIndex/wx_login.png') no-repeat 0px 4px;
	float: right;
	width: 65px;
	height: 24px;
	line-height: 24px;
	color: #033E88;
	margin: 20px 15px 0 0;
	padding-left: 23px;
	cursor:pointer;
}
.login-mk .qq-l{
	background: url('/static/images/newIndex/qq_login.png') no-repeat 3px 6px;
	float: right;
	width: 60px;
	height: 24px;
	line-height: 24px;
	color: #033E88;
	margin: 20px 15px 0 0;
	padding-left: 23px;
	cursor: pointer;
}
.login-mk button{
	float: right;
	margin: 20px 0 0 15px;
	border: 1px solid #BFBFBF;
	background: #fff;
	width: 74px;
	height: 24px;
	font-size: 13px;
	transition: all .3s;
}
.login-mk button:hover{
	background: #00BC0C;
	color: #fff;
	border: none;
	border-radius: 2px;
}
.login-mk img{
	float: right;
	margin: 20px 0 0 0;
}
.link-mk{
	border: 1px solid #EAEAEA;
	border-right: none;
}
.link-mk .mk-ls{
	cursor: pointer;
}
.link-mk .mk-s{
	width:178px;
	height:168px;
	float: left;
	transition: all .5s;
	position: relative;
}
.link-mk .line-thr{
	height: 68px;
	width: 1px;
	background: #dcdcdc;
	float: left;
	margin: 50px 0 0 0;
}
.line-acc{
	height: 1px;
	float: left;
	width: 100%;
}
.line-acc>div{
	width: 68px;
	background: #dcdcdc;
	height: 1px;
	float: left;
	margin: 0 55px;
}
.link-mk .mk-ls:hover{
	background: #FF9F19;
	color: #fff !important;
}
.link-mk .mk-ls:hover>div,.link-mk .mk-ls:hover>div span{
	color: #fff;
	border-color: #fff;
}
.link-mk .mk-ls:hover>.mk1-pho{
	background: url('/static/images/newIndex/find_s1_white.png') 3px 15px no-repeat;
}
.link-mk .mk-ls:hover>.mk2-pho{
	background: url('/static/images/newIndex/find_s2_white.png') 8px 13px no-repeat;
}
.link-mk .mk-ls:hover>.mk3-pho{
	background: url('/static/images/newIndex/find_s3_white.png') 8px 12px no-repeat;
}
.link-mk .mk-ls:hover>.mk4-pho{
	background: url('/static/images/newIndex/find_s4_white.png') 15px 16px no-repeat;
}
.link-mk .mk-ls:hover>.mk5-pho{
	background: url('/static/images/newIndex/find_s5_white.png') 4px 13px no-repeat;
}
.link-mk .mk-ls:hover>.mk6-pho{
	background: url('/static/images/newIndex/find_s6_white.png') 6px 13px no-repeat;
}
.link-mk .mk-ls:hover>.mk7-pho{
	background: url('/static/images/newIndex/find_s7_white.png') 9px 12px no-repeat;
}
.link-mk .mk-ls:hover>.i-hot{
	background: url("/static/images/newIndex/hot_white.png");
}
.link-mk .mk-ls:hover>.mk8-pho{
	background: url('/static/images/newIndex/find_s8_white.png') 15px 11px no-repeat;
}
.mk-s .mk1-pho{
	background: url('/static/images/newIndex/find_s1_green.png') 3px 15px no-repeat;
	margin:10px auto 0;
	width: 59px;
	height: 60px;
}
.i-hot{
	position: absolute;
	top:12px;
	right: 39px;
	background: url("/static/images/newIndex/hot_orange.png");
	width: 24px;
	height: 12px;
}
.mk-s .mk2-pho{
	background: url('/static/images/newIndex/find_s2_green.png') 8px 13px no-repeat;
	margin:10px auto 0;
	width: 62px;
	height: 60px;
}
.mk-s .mk3-pho{
	background: url('/static/images/newIndex/find_s3_green.png') 8px 12px no-repeat;
	margin:10px auto 0;
	width: 60px;
	height: 60px;
}
.mk-s .mk4-pho{
	background: url('/static/images/newIndex/find_s4_green.png') 15px 16px no-repeat;
	margin:10px auto 0;
	width: 77px;
	height: 60px;
}
.mk-s .mk5-pho{
	background: url('/static/images/newIndex/find_s5_green.png') 4px 13px no-repeat;
	margin:10px auto 0;
	width: 61px;
	height: 62px;
}
.mk-s .mk6-pho{
	background: url('/static/images/newIndex/find_s6_green.png') 6px 13px no-repeat;
	margin:10px auto 0;
	width: 60px;
	height: 60px;
}
.mk-s .mk7-pho{
	background: url('/static/images/newIndex/find_s7_green.png') 9px 12px no-repeat;
	margin:10px auto 0;
	width: 60px;
	height: 60px;
}
.mk-s .mk8-pho{
	background: url('/static/images/newIndex/find_s8_green.png') 15px 11px no-repeat;
	margin:10px auto 0;
	width: 60px;
	height: 60px;
}
.mk-name{
	text-align: center;
	margin-bottom: 6px;
}
.mk-name span{
	padding: 0 36px;
	display: inline-block;
	height: 38px;
	line-height: 38px;
	font-size: 19px;
	color: #000;
	font-weight: bold;
	border-bottom: 1px solid #666;
}
.mk-intro{
	text-align: center;
	line-height: 17px;
	color: #777;
	font-size: 12px;
}
.photolist{
	width: 645px;
	height:225px;
	margin: 54px auto 0;
}
.photolist .div1 {
	float: left;
	margin-right: 4px;
	width: 110px;
	height: 225px;
}
.photolist .div2 {
	float: left;
	margin-right: 4px;
	width: 96px;
	height: 225px;
}
.photolist .div2 .trediv {
	width: 96px;
	height: 68px;
	position: relative;
	overflow: hidden;
}
.photolist img {
	transition: all .3s;
	width: 100%;
	height: 100%;
}
.photolist .bg20 {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.2);
	z-index: 1;
	transition: all .3s;
}
.photolist>div>div:hover .bg20{
	display: none;
}
.photolist i {
	display: block;
	width: 26px;
	height: 26px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -13px;
	margin-top: -13px;
	z-index: 2;
	background: url("/static/images/newIndex/iv_play.png") no-repeat;
	transition: all .3s;
	cursor: pointer;
	border-radius: 100%;
}
.photolist > div > div:hover > i {
	box-shadow: 0 0 6px cyan;
}
.photolist > div > div:hover img {
	width: 110%;
	height: 110%;
	margin-left: -5%;
	margin-top: -5%;
}
.mb8 {
	margin-bottom: 4px;
}
.photolist .div1 .doudiv {
	width: 110px;
	height: 104px;
	position: relative;
	overflow: hidden;
}
.ivideo{
	height: 146px;
	background: url("/static/images/newIndex/iv_bg.png") no-repeat;
	border-bottom: 1px solid #dcdcdc;
	border-top: 1px solid #dcdcdc;
}
.ivideo ul{
	width: 572px;
	float: right;
	padding: 6px 24px;
}
.ivideo li{
	float: right;
	margin:14px 0 0 5px;
	width: 65px;
	height: 45px;
	position: relative;
}
.ivideo li>div{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	transition: all .3s;
}
.ivideo li a{
	position: absolute;
	display: inline-block;
	width: 21px;
	height: 21px;
	border-radius: 100%;
	background: url("/static/images/newIndex/iv_play.png");
	top:11px;
	left:20px;
	transition: all .3s;
	cursor: pointer;
}
.ivideo li:hover>div{
	display: none;
}
.ivideo li:hover>a{
	box-shadow: 0 0 6px cyan;
}

.ivideo .li1{background: url("/static/images/newIndex/iv1.png")}
.ivideo .li2{background: url("/static/images/newIndex/iv2.png")}
.ivideo .li3{background: url("/static/images/newIndex/iv3.png")}
.ivideo .li4{background: url("/static/images/newIndex/iv4.png")}
.ivideo .li5{background: url("/static/images/newIndex/iv5.png")}
.ivideo .li6{background: url("/static/images/newIndex/iv6.png")}
.ivideo .li7{background: url("/static/images/newIndex/iv7.png");margin-left: 20px !important;}
.ivideo .li8{background: url("/static/images/newIndex/iv8.png")}
.ivideo .li9{background: url("/static/images/newIndex/iv9.png")}
.ivideo .li10{background: url("/static/images/newIndex/iv10.png")}
.ivideo .li11{background: url("/static/images/newIndex/iv11.png")}
.ivideo .li12{background: url("/static/images/newIndex/iv12.png")}
.ivideo .li13{background: url("/static/images/newIndex/iv13.png")}
.ivideo .li14{background: url("/static/images/newIndex/iv14.png")}
.ivideo .li15{background: url("/static/images/newIndex/iv15.png")}
.d-photo{
	width: 718px;
	height: 133px;
	overflow: hidden;
	position: relative;
	float: left;
}
.ul-photo{
	width: 5000px;
	height: 133px;
	position: absolute;
	top: 0;
}
.ul-photo li{
	float: left;
	width: 718px;
	height: 268px;
	position: relative;
    cursor: pointer;
}
.ul-photo li>img{
	float: left;
	width: 718px;
	height: 133px;
}
.ul-photo li span{
	display: none;
	width: 73px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border: 1px solid #fff;
	color: #fff;
	position: absolute;
	top: 108px;
	left: 191px;
	cursor: pointer;
	transition: all .5s;
	font-weight: bold;
	background: rgba(0,0,0,.3);
}
.ul-photo li span:hover{
	background: #fff;
	border: 1px solid #00BC0C;
	color: #00BC0C;
	border-radius: 4px;
}

.ul-photo .p5{
	padding-left: 20px;
	padding-right: 20px;;
	max-height: 160px;
	overflow: hidden;
}
.photo-text{
	display: none;
	width: 251px;
	height: 268px;
	float: right;
	text-align: center;
}
.photo-text h3{
	font-size: 20px;
	font-weight: bold;
	color: #000;
	margin-top: 30px;
}
.photo-text p{
	line-height: 20px;
	color: #A1A1A1;
}
.photo-text .p1{
	line-height: 16px;
	height: 16px;
	margin: 4px 0 20px;
}
.photo-btn{
	position: absolute;
	bottom: 0;
	left: 383px;
	width: 84px;
	height: 43px;
	display: none;
}
.photo-btn:hover>span{
	background:#00BC0C;
	color: #fff;
}
.photo-btn>span{
	float: left;
	width: 50%;
	height: 43px;
	cursor: pointer;
	font: 400 24px/42px consolas;
	background: #fff;
	transition: all .3s;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	text-align: center;
}
.photo-btn>.sp1:hover{
	border-radius: 22px 0 0 22px;
}
.photo-btn>.sp2:hover{
	border-radius: 0 22px 22px 0;
}
.store-foott-main {
    width: 1200px;
    margin: 0px auto;
    background: #333333;
    height: 140px;
    padding: 25px 25px 0;
}
.store-foott-left {
    width: 440px;
    float: left;
    color: #E9E9E9;
    line-height: 26px;
    font-size: 12px;
    margin-left: 5px;
}
.store-foott-left span {
    margin-right: 5px;
}
.store-foott-left a {
    color: #E9E9E9;
    margin-right: 8px;
    text-decoration: underline;
    display: inline-block;
}
.store-foott-right {
    float: right;
    color: #E9E9E9;
    margin: 0 142px 0 0;
}
.store-foott-right div {
    float: left;
    width: 258px;
}
.store-foott-right div > .p1 {
    float: left;
    margin: 40px 0 5px 0;
    font-size: 12px;
}
.store-foott-right img {
    float: left;
    margin: 0 15px 0 0;
}
.store-foott-right div > .p2 {
    float: left;
    margin: 40px 0 2px 0;
    font-size: 12px;
}

/***********************注册弹出框*************************/
.store-register {
	/*display: none;*/
	width: 645px;/*
	height: 390px;*/
	background: #ffffff;
	border: 7px solid rgba(76, 136, 181, 0.6);
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -322.5px;
	margin-top: -230px;
	z-index: 999999999999;

	/* -moz-background-clip: border;
     -webkit-background-clip: border;
     background-clip: border-box;

     -moz-background-clip: padding;
     -webkit-background-clip: padding;
     background-clip: padding-box;*/

	-moz-background-clip: content;
	-webkit-background-clip: content;
	background-clip: content-box;
}
.greenControl{
	position: absolute;
	bottom: 7px;
	left:316px;
	background: rgba(0,0,0,0.4);
	border-radius:10px;
	border:1px solid rgba(255,255,255,0.5);
}
.greenControl div{
	float: left;
	width: 7px;
	height: 7px;
	background: #fff;
	border-radius:100%;
	margin:6px 7px;
	cursor: pointer;
}
.g-on{
	background: #00BC0C !important;
}
.store-register dl {
	display: inline-block;
	margin: 25px;
	width: 92%;
	font-weight: normal;
}

.store-register dt {
	border-bottom: 1px solid #000000;
}

.store-register dt em {
	font-size: 20px;
}

.store-register dt div {
	float: right;
	font-size: 14px;
	position: relative;
}

.store-register dt i {
	position: absolute;
	top: 0px;
	right: 10px;
	font-size: 16px;
	cursor: pointer;
}

.store-register dt a {
	display: inline-block;
	width: 67px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	color: #ffffff;
	background: #ffac09;
	border-radius: 4px;
}

.store-register dt a:hover {
	background: #fe8f1e;
}

.store-register dd {
	position: relative;
	margin-top: 20px;
	width: 100%;
	text-align: center;
	line-height: 45px;
}
.p-ps{
	position: absolute;
	top:-13px;
	color: #FF4918;
	left:148px;
	height: 22px;
	line-height: 22px;
	width: 300px;
}
.store-register dd label{
	display: block;
	width: 288px;
	text-align: left;
	margin:0 auto;
	height: 22px;
	line-height: 45px;
	cursor: pointer;
}
.store-register dd input[type=radio]{
	height: 22px;
	line-height:22px;
	cursor: pointer;
	position: relative;
	top: 6px;
	margin: 0 6px 0 0;
}

.store-register dd .error {
	position: absolute;
	top: 40px;
	left: 200px;
	/*display: inline-block;*/
	width: 232px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	border: 1px solid #fe888f;
	background: #fedfe0;
	color: #fc1425;
	border-radius: 3px;
}

.store-register dd em {
	font-size: 16px;
	width: 7em;
	display: inline-block;
	text-align: left;
	margin-left: -70px;
}

.store-register dd input[type=text] ,.store-register dd input[type=password] {
	border: none;
    width: 254px;
    height: 39px;
	float: right;
}

.store-register dd .te-df{
	border: 1px solid #C9C9C9;
	width: 300px;
	height: 39px;
	border-radius: 1px;
	margin: 0 auto;
}
.store-register dd .inp1 {
    background: url("/static/images/input_cont.png") no-repeat;
}
.store-register dd .inp2 {
    background: url("/static/images/input_psw.png") no-repeat;
}

.mm-forget {
	position: absolute;
    right: 147px;
    bottom: -14px;
	font-size: 13px;
	display: inline-block;
	line-height: 15px;
	color: rgb(255, 73, 24);
}

.mm-forget:hover {
	text-decoration: underline;
	cursor: pointer;
}

.store-register dl h1 {
	/*color: #01abf4;
    font-size: 26px;*/
	color: rgb(255, 73, 24);
	font-weight: bold;
	font-size: 24px;
}

.store-register .store-IN {
	width: 120px;
	margin-right: 10px;
}

#vc {
	height: 27px;
	position: relative;
	width: 100px;
	top: 10px;
	cursor: pointer;
}

.three-dl {
	width: 234px;
	display: inline-block;
	text-align: left;
	position: relative;
	bottom: 21px;
}

.three-dl a {
	width: 30px !important;
	height: 30px;
	display: inline-block;
	text-indent: -9999px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background: #999;
	cursor: pointer;
	float: right;
	margin: 7px 20px 0 0;
}

.three-dl .a2:hover {
	background: #0288d1;
}

.three-dl .a1:hover {
	background: #3eb134;
}

.three-dl a i {
	display: block;
	vertical-align: middle;
	background: url("/static/images/forum/icons_type.png") no-repeat;
}

.three-dl .a1 i {
	background-position: -83px 1px;
	margin: 5px auto 0;
	width: 24px;
	height: 28px;
}

.three-dl .a2 i {
	background-position: -18px 0px;
	margin: 5px auto 0;
	width: 20px;
	height: 21px;
}

.store-register dd .store-DL {
	display: inline-block;
	width: 300px;
	height: 39px;
	line-height: 39px;
	text-align: center;
	background: #ffac09;
	color: #ffffff;
	font-size: 16px;
	cursor: pointer;
	border-radius: 1px;
}

.store-register dd a {
	font-size: 15px;
	color: red;
	display: inline-block;
	width: 110px;
}

.store-register dd .store-YZ {
	position: absolute;
	top: -20px;
	left: 202px;
}

.store-register dd .store-MF {
	background: #ffffff;
	border: none;
	position: absolute;
	top: 108px;
	left: 160px;
}

.store-register dd .store-MF a {
	color: #01ABF4;
	width: 65px;
	font-size: 12px;
}
.bg {
	display: none;
	background-color: #000;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	filter: alpha(opacity=40);
	opacity: 0.4;
	z-index: 3;
	position: fixed !important;
}
/*.login-mk #logout,.login-mk #userName{
	float: right;
	height: 50px;
	line-height:50px;
	margin-left: 10px;
}*/
.login-mk #logout{
	cursor: pointer;
}
.com-list{
	height: 35px;
	overflow: hidden;
	position: relative;
	float: left;
	width: 352px;
	margin-left: 18px;
}
.d-btn .sp-up{
	display: inline-block;
	height: 35px;
	width: 12px;
	background: url("/static/images/newIndex/com_up.png");
	color:#fff;
	position: absolute;
	top:0;
	left: 110px;
	cursor: pointer;
	filter: alpha(opacity=00);
	-moz-opacity: 0;
	opacity: 0;
	transition: all .3s;
	display: none;
}
.d-btn:hover .sp-do{
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}
.d-btn:hover .sp-up{
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}
.d-btn .sp-do{
	display: inline-block;
	background: url("/static/images/newIndex/com_down.png");
	height: 35px;
	width: 12px;
	color:#fff;
	position: absolute;
	top:0;
	right: 0;
	z-index: 1;
	cursor: pointer;
	filter: alpha(opacity=00);
	-moz-opacity: 0;
	transition: all .3s;
	opacity: 0;
}
.com-list ul{
	height: 37px;
	width: 100000px;
	position: absolute;
	left: 0;
	top: 0;
}
.com-list ul li{
	float: left;
	height: 33px;
	line-height: 33px;
	min-width: 42px;
	padding: 0 15px;
	background: #FFf;
	color: #FF9F19;
	transition: all .3s;
	border: 1px solid #FF9F19;
	font-size: 14px;
	margin-right: 7px;
	cursor: pointer;
	text-align: center;
}
.com-list ul li:hover {
	box-shadow: 0 0 5px #FF9F19 inset;
}

.login-already{
	float:right;
	width: 250px;
	height: 61px;
}
.login-already .d1-set{
	float: right;
	width: 46px;
	height: 61px;
	position: relative;
	cursor: pointer;
}
.login-already .d1-set:hover{
	background: #E8E8E8;
}
.login-already .d2-msg:hover{
	background: #E8E8E8;
}
.login-already .d1-set:hover>.d1-mk{
	display: block;
}
.login-already .d2-msg:hover>.d2-mk{
	display: block;
}
.login-already .d2-msg{
	float: right;
	width: 46px;
	height: 61px;
	position: relative;
	cursor: pointer;
}
.login-already .d1-set .d1-img{
	background: url("/static/images/community/gray_set.png") no-repeat;
	width: 18px;
	height: 18px;
	margin: 21px auto 0;
}
.login-already .d2-msg .d2-img{
	background: url("/static/images/community/gray_message.png") no-repeat;
	width: 23px;
	height: 18px;
	margin: 23px auto 0;
}
.login-already .d1-set .d1-mk{
	display: none;
	z-index: 3;
	position: absolute;
	height: 86px;
	width: 119px;
	top: 61px;
	right: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 2px #999;
	background: #fff;
	border: 1px solid #E8E8E8;
}
.login-already .d1-set .d1-mk div{
	height: 42px;
	line-height: 42px;
	cursor: pointer;
	border-top: 1px solid #E8E8E8;
}
.login-already .d1-set .d1-mk .p1{
}
.login-already .d1-set .d1-mk .p1 span{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url("/static/images/community/personal_set.png") no-repeat;
	float: left;
	margin: 13px 11px 0 18px;
}
.login-already .d1-set .d1-mk .p2 span{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url("/static/images/community/gray_out.png") no-repeat;
	float: left;
	margin: 13px 11px 0 18px;
}
/**/

.login-already .d2-msg .d2-mk{
	display: none;
	z-index: 3;
	position: absolute;
	height: 86px;
	width: 137px;
	top: 61px;
	right: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 2px #999;
	background: #fff;
	border: 1px solid #E8E8E8;
}
.login-already .d2-msg .d2-mk div{
	height: 42px;
	line-height: 42px;
	cursor: pointer;
	border-top: 1px solid #E8E8E8;
}
.login-already .d2-msg .d2-mk div:hover{
	background: #E8E8E8;
}
.login-already .d1-set .d1-mk div:hover{
	background: #E8E8E8;
}
.login-already .d2-msg .d2-mk div em{
	float: right;
	width: 19px;
	text-align: center;
	height: 14px;
	line-height: 14px;
	font-size: 10px;
	color: #fff;
	background: #FF9926;
	border-radius: 3px;
	margin: 15px 10px 0 0;
}
.login-already .d2-msg .d2-mk .p1{
	border-bottom: 1px solid #E8E8E8;
}
.login-already .d2-msg .d2-mk .p1 span{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url("/static/images/community/all_gray3.png") no-repeat;
	float: left;
	margin: 13px 11px 0 18px;
}
.login-already .d2-msg .d2-mk .p2 span{
	display: inline-block;
	width: 18px;
	height: 16px;
	background: url("/static/images/community/all_gray4.png") no-repeat;
	float: left;
	margin: 13px 11px 0 18px;
}
.login-already .login-name{
	float: right;
	height: 61px;
	line-height:61px;
	max-width: 85px;
	margin-right: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.login-already>img{
	float: right;
	height: 35px;
	width: 35px;
	border-radius: 100%;
	border:1px solid #aaa;
	margin: 13px 13px 0 0 ;
}
.d2-notice{
	position: absolute;
	width: 19px;
	text-align: center;
	height: 14px;
	line-height: 14px;
	font-size: 10px;
	color: #fff;
	background: #FF9926;
	border-radius: 3px;
	top: 15px;
	right: 1px;
}
.p-outc{
	height: 30px;
	line-height: 30px;
	width: 299px;
	text-align: left;
	color: #888;
	margin: 0 auto;
}
.p-outc .i-qq{
	display: inline-block;
	width:17px;
	height: 17px;
	background: url("/static/images/newIndex/iconbg.jpg") -64px -53px no-repeat;
	margin: 0 16px 0 11px;
	position: relative;
	top: 4px;
	cursor: pointer;
}
.p-outc .i-wx{
	display: inline-block;
	width:17px;
	height: 17px;
	background: url("/static/images/newIndex/iconbg.jpg") -61px -105px no-repeat;
	position: relative;
	top: 4px;
	cursor: pointer;
}

/*播放器*/
.player-container {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -415px;
	margin-top: -240px;
	z-index: 1000;
	overflow: visible;
	display: none;
	background-color: white;
	box-shadow: 0 10px 25px #000;
	box-sizing: content-box;
	border-radius: 4px;
	padding: 15px;
	z-index: 9999999999999999999999999;
}

.player-container * {
	overflow: visible;
}

.player-div {
	background: #000;
	width: 800px;
	height: 450px;
	overflow: hidden;
}

.player-close-btn {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
	background-image: url('/static/js/modules/core/0.1.0/fancyBox/fancybox_sprite.png');
}

.dialog-bg {
	background-color: #000;
	left: 0;
	position: fixed;
	top: 0;
	z-index: 30;
	opacity: 0.5;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	width: 100%;
	height: 100%;
	display: none;
}

.content-DV {
	position: relative;
}

.content-Im {
	width: 80px;
	height: 80px;
	cursor: pointer;
}

.video-play-btn {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 20px;
	top: 20px;
	cursor: pointer;
}

















/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    /* background-image: url('fancybox_sprite.png'); */
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    /* background: url('fancybox_loading.gif') center center no-repeat; */
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    /* background: transparent url('blank.gif'); */ /* helps IE */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    /* background: url('fancybox_overlay.png'); */
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent; /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}


 .big, .small,.normal { /* background:url(/static/images/forum/button.png) top right no-repeat; */ height:33px; line-height:33px; width:60px; display:inline-block; cursor:pointer;}
 .small { background-position:left top;}
 .normal { background-position:-61px 0; width:50px;}


/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {

    #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
        /* background-image: url('fancybox_sprite@2x.png'); */
        background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
    }

    #fancybox-loading div {
        /* background-image: url('fancybox_loading@2x.gif'); */
        background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
    }
}