/* css reset */

body, dl, dd, h1, h2, h3, p, form{
    margin:0;
    font-weight: normal;
}
ol,ul{
    margin:0; padding:0;
}
li{
    list-style: none;
}
img{
    border: none;
}
a{
    text-decoration: none;
}
i,b,em,strong { 
    font-style:normal; 
    font-weight: normal;
}
select,input,button{
    outline: none;
}
table{
    border-collapse: collapse;
}
body,html{
    width: 100%;
    height: 100%;
    font-family:'Microsoft YaHei','Arial';
    overflow-x: hidden;
}

/* css reset end */
